{% load static %}

<nav class="navbar sticky-top navbar-expand-lg navbar-dark pt-2 pb-1">
    <div class="container">

        <a class="navbar-brand" href="{% url 'mainapp:messages' %}">
            <img id='logo' width="40" class="me-2 pb-2" src="{% static 'mainapp/robin-circle.png' %}" alt="Social Network">
            <span class='handwritten' style="font-size: 120%;">
                Robin's Nest
                {% if user.is_authenticated %}
                    ({{ user.username }})
                {% endif %}            
            </span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if page == 'members' %} active {% endif %}" href="{% url 'mainapp:members' %}">
                        <i class="fas fa-users"></i>
                        All Users
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page == 'friends' %} active {% endif %}" href="{% url 'mainapp:friends' %}">
                        <i class="fas fa-user-friends"></i>
                        Friends
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page == 'messages' %} active {% endif %}" href="{% url 'mainapp:messages' %}">
                        <i class="fas fa-envelope"></i>
                        Messages
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page == 'profile' %} active {% endif %}" href="{% url 'mainapp:profile' %}">
                        <i class="fas fa-user"></i>
                        Profile
                    </a>
                </li>
                {% endif %}            
            </ul>

            {% if user.is_authenticated %}
            <a class="btn btn-outline-light" href="{% url 'mainapp:logout' %}">
                <i class="fas fa-sign-out-alt"></i>
                Log Out
            </a>
            {% endif %}
        </div>
    </div>
</nav>
