{% extends "mainapp/base.html" %}
{% load static %}

{% block content %}
    <div id="app" style="display: none;">
        <div class="d-flex align-items-center">
            <img
                height=150
                class="border rounded shadow"
                :src="avatar"
            >
            </img>
            <div v-if="profile" class="p-3">
                [[ profile.text ]]
            </div>
            <div v-else class="p-3 text-secondary">
                Profile text
            </div>
        </div>

        <div class='h5 mt-3 pt-2'>
            <div v-if="user.username == view">
                Your Messages
            </div>
            <div v-else>
                [[view]]'s Messages
            </div>
        </div>

        <div class="mb-3">
            {% csrf_token %}
            <div class="form-group">
                <div class='mb-2 mt-1'>
                    Type here to leave a message:
                </div>
                <textarea v-model="message" class='form-control' name='text' cols='50' rows='3'></textarea>
            </div>
            <div class="form-group mt-3">
                Public
                    <input v-model="public" value="yes" type='radio' class='pm_class ms-1 me-2' name='pm'>
                Private
                    <input v-model="public" value="no" type='radio' class='pm_class ms-1 me-4' name='pm'>
                <input type='hidden' name='recip' :value='view'>
                <button
                    class="btn btn-primary btn-sm"
                    @click="postMessage"
                    :disabled="!message"
                >
                    Post Message
                </button>
            </div>
        </div>

        <div v-for="message in messages" class="my-1">
            <button
                v-if="(message.sender == user.username) || (message.recip == user.username)"
                @click="deleteMessage(message)"
                class="btn btn-sm btn-danger border remove-btn me-2"
            >
                <i class="far fa-trash-alt"></i>
            </button>
            [[ message.time]]
            <a :href="`{% url 'mainapp:messages' %}?view=${message.sender}`">
                [[ message.sender ]]
            </a>
            <span v-if="message.public">
                wrote:
            </span>
            <span v-else class="whisper">
                whispered:
            </span>
            [[ message.text ]]
        </div>

    </div>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/vue"></script>

<!-- SnackbarJS -->
<script src="{% static 'mainapp/snackbar/snackbar.min.js' %}"></script>

<script>
    function show_snackbar_message(message, tags) {
        console.log("Showing message:" + message)
        // https://fezvrasta.github.io/snackbarjs/
        $.snackbar({
            // text of the snackbar
            content: message,
            // add a custom class to your snackbar
            style: "snackbar " + tags,
            // time in milliseconds after the snackbar autohides, 0 is disabled
            timeout: 2000,
            // allows HTML as content value
            htmlAllowed: true,
            // callback called when the snackbar gets closed
            onClose: function() {
                console.log("Closed!")
            }
        })
    }

    const app = Vue.createApp({
        delimiters: ["[[", "]]"],
        data() {
            return {
                ...{{vue_data|safe}},
                message: "",
                public: "yes",

            }
        },
        mounted() {
            $("#app").show();
        },
        methods: {
            postMessage() {
                // POST new message using fetch API
                let app = this;
                formData = new FormData();
                formData.append('message', this.message);
                formData.append('public', this.public);
                formData.append('recip', this.view);
                formData.append('text', this.message);

                fetch(`{% url 'mainapp:messages api' %}?view=${this.view}`, {
                    method: "POST",
                    body: formData,
                    headers : { "X-CSRFToken" : $("[name=csrfmiddlewaretoken]").val() },
                })
                .then(response => response.json())
                .then(data => {
                    app.messages = data.messages;
                    app.message = "";
                    app.public = "0";
                    show_snackbar_message("Message posted!")
                })
            },
            deleteMessage(message) {
                // DELETE message using fetch API
                let app = this;
                fetch("{% url 'mainapp:message api' 0 %}".replace("0", message.id), {
                    method: "DELETE",
                    headers : { "X-CSRFToken" : $("[name=csrfmiddlewaretoken]").val() },
                }).then(response => {
                    if (response.ok) {
                        app.messages = app.messages.filter(m => m.id != message.id);
                        show_snackbar_message("Message deleted!")
                    }
                    else 
                        alert("Deleting messsage failed");
                })
            }
        },
        computed: {
            avatar() {
                if (this.profile && this.profile.image) 
                    return this.profile.image
                return "{% static 'mainapp/profile-image.jpg' %}"
            }
        }
    })
    const vm = app.mount('#app')
</script>
{% endblock %}
