{% extends "mainapp/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class='card shadow mx-auto text-left m-4 p-3 bg-light' style="width:375px;">
        <div class='h4 mb-4'>
            <img width="40" class='mb-2 me-3' src="{% static 'mainapp/robin.gif' %}">Sign up
        </div>
        {% crispy form %}
    </div>
    <div class='card shadow mx-auto text-center m-4 p-4 bg-light' style="width:375px;">
        Already have an account? 
        <a class="btn btn-outline-primary mt-3" href="{% url 'mainapp:login' %}">
            Log in
        </a>
    </div>
{% endblock %}
